body{
    width: 100vw;
    height: 100vh;
    background: url("./bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    backdrop-filter: blur(0.8);
}

h1{
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.dice{
    height: 200px;
    width: 200px;
    padding: 0px;
    border-radius: 40px;
    box-shadow: 2px 2px 8px black;
    background-color: black;
    transition: transform 3s ease;
}

.dice:active{
    transform: scale(0.95);
}

.btn{
    margin: 30px;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    transition: transform 1s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.2);
}

p{
    font-size: 20px;
    color: white;
    text-align:center;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
    width: 200px;
    padding: 5px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.dice.shake {
  animation: shake 0.4s;
}
